<!DOCTYPE html>
<html  lang="ro">
    
    <head>
        <meta name="description" content="Magazinul AlexSports cuprinde toate tipurile de echipamente sportive: Fotbal,baschet,Volei,Tenis,transport la domiciliu in toata tara">
        <meta name="keywords" content="AlexSports,echipament sportiv,fotbal,baschet,tenis,minge de fotbal,Bucuresti,sector 4">
        <title>Magazin echipament sportiv</title>
        
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    
    <body>
        
        <%- include("../fragmente/header.ejs");  %> 

        <main>
        
            <%- include("../fragmente/galerie.ejs") %>

        </main>
    
        <%- include("../fragmente/footer.ejs");  %> 

      
        <!-- <a href="Galerie"></a> -->
        <!-- <pr include _gallery.scss %>

        <div class="galerie">
        <pr for (let i = 0; i < imagini.length; i++) { %>
            <div class="gallery-item">
            <img src="<pr= imagini[i].cale_imagine %>" alt="<pr%= imagini[i].titlu %>">
            <h3><pr= imagini[i].titlu %></h3>
            <p><pr= imagini[i].descriere %></p>
            <p><pr= imagini[i].timp %></p>
            </div>
        <pr } %>
        </div> -->

    </body>
</html>