<!DOCTYPE html>
<!--Comentariu-->

<html lang = "ro">
    
    <head>
    
       <%- include("../fragmente/head.ejs") %>

        <!-- 
        <style>
            p{
                color:green;
            }
        </style>
        --> 

        <title>Magazin echipament sportiv</title>
        <meta name="keywords" content="AlexSports,echipament sportiv,fotbal,baschet,tenis,minge de fotbal,Bucuresti,sector 4">
        <meta name="description" content="Magazinul AlexSports cuprinde toate tipurile de echipamente sportive: Fotbal,baschet,Volei,Tenis,transport la domiciliu in toata tara">
    
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>
        
        <style>
            :culori-cromatice 
            {
                --culoare1: #0F91DC;
                --culoare-text: #DB2E21;
                --culoare-border: #30E187;
                --culoare-highlight: #FFA500;
            
            }


        </style>

        

        <main>
            <!-- class="grid"-->

            <div id="grid-pagina">

                <section id="welcome">
                    <h2>Bine ați venit la Magazinul Nostru de Echipament
                        Sportiv!</h2>

                    <p>Ip: <%-locals.ip %> </p>
                    <!-- <p class="intro" style="color: pink; font-variant: small-caps;">Va multumim pentru vizionare</p> -->

                    <p>Descoperiți cele mai noi echipamente sportive pentru
                        performanță și confort.</p>

                    <p>Inovăm pentru a face din fiecare atlet un campion
                        Creațiile noastre se adresează tuturor, indiferent dacă
                        ești începător sau expert.
                        Oricare ar fi obstacolele pe care le întâmpini,
                        inovațiile noastre te vor ajuta să le depășești.
                    </p>

                    <a href="http://www.google.com">Catre site-ul Google</a>
                    <br>
                    <img
                        src="./resurse/imagini/sports-store-logo-template-vector.jpg"
                        alt=" imagine logo" width="200px"
                        style="display:inline-block" />

                    <figure style="display:inline-block">

                        <picture>
                            <source
                                srcset="./resurse/imagini/logo-for-sports-equipment-vector-35893991.jpg"
                                media="(max-width 800px)" />
                            <img src="./resurse/imagini/logo-search-grid-1x.jpg"
                                alt="echipament" width="200px" />
                        </picture>

                        <figcaption>Logo</figcaption>
                    </figure>
                </section>

                <section id="promotii">
                    <h2>Promotii</h2>
                    <p><strong>Reduceri de primavara!</strong></p>

                    <p><abbr title="Store">Magazin</abbr></p>

                    <p>Descoperă cele mai recente oferte și <b>reduceri speciale
                        </b> pe site-ul nostru web! De la îmbrăcăminte sportivă
                        la echipamente de antrenament și accesorii esențiale,
                        avem tot ce ai nevoie pentru a-ți susține pasiunea
                        pentru sport și pentru a-ți îmbunătăți performanța.</p>
                    <p>Profita acum de promoțiile noastre exclusive și bucură-te
                        de produse de înaltă calitate la prețuri
                        incredibile.</p>
                    <p>Fii primul care află despre noile lansări și evenimentele
                        noastre speciale.</p>
                    <p>Ocaziile bune nu durează mult, așa că nu rata aceste
                        oferte și profită de ele acum</p>

                    <h3>Descriere</h3>
                    <h4>Calitate garantată, prețuri mici</h4>
                    <p>AlexSports se concentrează pe modul în care poate oferi
                        <b>echipament sportiv</b> la cel mai bun raport calitate
                        - preț.
                        Fie ca este vorba despre ambalaje economice, maximizarea
                        inovării sau a investiției în personal, de 40 de ani
                        facem sporturile
                        mai accesibile pentru sute de milioane de oameni din
                        întreaga lume</p>

                    <div class="container-iframe">
                        <div class="taburi-iframe">

                            <a
                                href="https://www.youtube.com/embed/KriBQVhsgZk?si=IvaE68mR-PnsV-Tn"
                                target="ifr-video">Nike videoclip</a>
                            <a
                                href="https://www.youtube.com/embed/VmXdhno1Hlo?si=LWZKiCHwjN6beqjp"
                                target="ifr-video">Under Armour</a>

                        </div>

                        <iframe name="ifr-video" width="560" height="415" src="https://www.youtube.com/embed/UyefASVrtbw?si=QiIxXWHKiwZMxjlE"
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    
                    <video width="480" height="320" poster="/resurse/imagini/Nike Airmax 97.jpg" controls preload="auto">
                        <source src="/resurse/video/AIR MAX 97.mp4" type="video/mp4">
                        <source src="/resurse/video/AIR-MAX-97.ogv" type="video/ogv">
                        <track default src="/resurse/vtt/captions_ro.vtt" kind="captions" srclang="ro" label="română">
                        <track src="/resurse/vtt/captions_en.vtt" kind="captions" srclang="en" label="engleză">
                        <!-- captions_en.vtt
                        captions_ro.vtt-->


                    </video>
                </section>

                <section id="utilizatori_online">
                    <h2>Utilizatori Online</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Odio, quaerat. In eligendi soluta assumenda magnam,
                        repellendus tempore natus inventore laborum? At, qui
                        dolor dolores fugiat quas laudantium esse odit?
                        Inventore. </p>

                </section>

                <section id="date_utilizator">
                    <h2>Date utilizator</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Delectus minus molestias ducimus qui ipsa vitae,
                        libero architecto tempora fugit, suscipit velit non nam
                        possimus ut harum voluptates enim repudiandae odit! </p>

                </section>

                <section id="date_site">
                    <h2>Date site</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Perferendis a sit vero praesentium animi debitis
                        sapiente laudantium dolore et itaque doloremque expedita
                        corporis, voluptate inventore dicta. Necessitatibus
                        soluta cupiditate ut.</p>

                </section>
                <section id="orar" style="margin-bottom: 50px;">
                    <h2>Orar</h2>

                    <div id="tabel-container">
                        <table id="tabel">
                            <thead>

                                <tr>
                                    <th>Cod</th>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval dimineata</th>
                                    <th>Pauza de masa</th>
                                    <th>Interval seară</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td rowspan="5">Zile<br />Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>10-12</td>
                                    <td>12-14</td>
                                    <td>14-20</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Marti</td>
                                    <td>9-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Miercuri</td>
                                    <td>9-11</td>
                                    <td>11-13</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Joi</td>
                                    <td>9-11</td>
                                    <td>11-13</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Vineri</td>
                                    <td>9-12</td>
                                    <td>12-14</td>
                                    <td>14-19</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td rowspan="2">Weekend</td>
                                    <td>Sambata</td>
                                    <td>10-12</td>
                                    <td>12-13</td>
                                    <td>13-16</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Duminica</td>
                                    <td>10-14</td>
                                    <td>-</td>
                                    <td>inchis</td>
                                </tr>
                            </tbody>
                            <tfoot><tr><td colspan="6">Închis cu ocazia
                                        sărbătorilor legale.</td></tr></tfoot>
                        </table>
                    </div>
                </section>

                <section id="calendar">
                    <div class="calendar">
                        <div class="event">Evenimente viitoare:</div>
                        <div class="date">20 aprilie - Maraton Montan</div>
                        <div class="date">25 aprilie - Competitie Ciclism</div>
                        <div class="date">30 aprilie - Sesiune Yoga in aer
                            liber</div>
                    </div>
                </section>

                <section id="anunturi">
                    <p><strong>Anunț important:</strong> Reduceri de primăvară
                        la echipamentele de alergare! Profitați acum!</p>
                </section>

            </div>

            <math>
                <mfrac>
                    <mn>1</mn>
                    <mn>2</mn>
                </mfrac>
            </math>
        </main>
                <%- include("../fragmente/footer.ejs") %>
        
    </body>


</html>
