#banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff; 
    padding: 10px; 
    display: none; 
    text-align: center;
}


@keyframes slideInFromBottom 
{
    0% {
        transform: translateY(100%);
        color: #fff; 
    }
    80% {
        transform: translateY(-50px);
        color: #ffcc00;
    }
    100% {
        transform: translateY(0); /* Se aliniază cu partea de jos a paginii */
    }
}

#banner 
{
    animation: slideInFromBottom 3s ease forwards;
}
