html 
{
    font-size:16px;
}

#grid-pagina
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "welcome welcome welcome welcome"
                          "orar orar calendar calendar"
                          "orar orar anunturi anunturi"
                          "utilizatori_online date_utilizator date_utilizator date_site"
                          "promotii promotii promotii promotii";
                          
     
}

#grid-pagina > *
{
    border:3px solid rgb(93, 248, 58);
    font-size: 1rem;
    transition: font-size 0.5s ease;
    padding: 7px;
}


#welcome
{
    grid-area: welcome;
}

#promotii
{
    grid-area: promotii;
}

#orar
{
    grid-area: orar;
}

#calendar
{
    grid-area: calendar;
}

#anunturi
{
    grid-area: anunturi;
}

#utilizatori_online
{
    grid-area: utilizatori_online;
}

#date_utilizator
{
    grid-area: date_utilizator;
}

#date_site
{
    grid-area: date_site;
}

@media screen and (max-width: 1000px)
{
    html{
        font-size: 14px;
    }

    #grid-pagina 
    {
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
            "welcome welcome welcome welcome"
            "calendar calendar calendar calendar"
            "orar orar orar orar"
            "anunturi anunturi anunturi anunturi"
            "date_utilizator date_utilizator date_site date_site"
            "utilizatori_online utilizatori_online utilizatori_online utilizatori_online"
            "promotii promotii promotii promotii";
    }

}

@media screen and (max-width: 768px)
{
    html
    {
        font-size: 12px;
    }

    #grid-pagina
    {
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "welcome"
        "calendar"
        "orar"
        "anunturi"
        "date_utilizator"
        "date_site"
        "utilizatori_online"
        "promotii";
        grid-template-columns: 1fr;
    }

    #grid-pagina > * 
    {
        transition: none !important;
        animation: none !important;
    }

}