/*
p{
    color:#b30f0f;
    font-weight:bold;
    
}
/* intrebari variabile cu acelasi nume in container */


h2{
    border: 2px solid var(--culoare1);

}

#header {
    background-color:#e0ef3c;
    border: 2px solid #DB2E21; 
    border-radius: 15px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

body
{
  --spatiere:29px;
  padding-left:var(--spatiere);
  padding-right:var(--spatiere);

  --culoare-fundal:#0F91DC;
  --culoare-text:#DB2E21;
  --culoare-contur:#30E187;
  --culoare-text-selectat:white;


  background-color: var(--culoare-fundal);
  color:var(--culoare-text);
  font-weight:bold;
  border: 10px solid var(--culoare-contur);
}

.footer {
    background-color: #F7D08A;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 15px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 20px;
}

/*
.grid{
    background-color: #30E187;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 20px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 20px;
}
*/

#anunturi{    padding-left: 20px; }

#calendar{    padding-left: 20px; }


/* Etapa 4 linkuri */
a:visited
{
    color:#746c6b; 
}

/* border ->click pe link */
a:active
{
    border: 2px solid black !important;
}

/* linkurile externe */
a[href^="http"]::before
{
    color:#e0ef3c;
    font-size: 1.5rem;
    content:"\2BB3";
    transition:color 0.5s linear;
}

a[href^="http"]:hover::before{
    color: green;
}

a {
    background: radial-gradient(aqua 40%, transparent 80%);
    background-position: center;
    background-size: 0 0;
    background-repeat: no-repeat;
    color: black;
    transition: background-size 1s linear;
}

a:hover {
    background-size: 100% 100%;
}

header a, a[href^="http"] {
    background: transparent;
}
