<header id="header">

    <div id="banner" style="display: none;">Acesta este un proiect
        scolar!</div>
    <h1>Magazin echipament sportiv</h1>

    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png"
                alt="menu">
        </label>

        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="acasa">Acasă</div>
                <div id="acasa-mediu">
                    <i class="fas fa-regular fa-house"></i>
                    <span>Welcome</span>
                </div>
            </li>
            <li><a href="#">Înregistrare</a></li>
            <li><a href="#">Meniu</a></li>
            
            <li>
                <a href="#">Categorii</a>
                <ul class="sub-meniu">
                    <li>
                        <a href="/produse">Toate</a>
                    </li>
                    
                    <li>
                        <a href="/produse?tip=barbati">Bărbați</a>
                    </li>
                    <li>
                        <a href="/produse?tip=femei">Femei</a>
                    </li>
                    <li>
                        <a href="/produse?tip=copii">Copii</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Reduceri</a></li>
        </ul>
    </nav>
</header>
<!-- a doua pagina etapa 4 -->