<header id="header">

    <div id="banner" style="display: none;">Acesta este un proiect
        scolar!</div>
    <h1>Magazin echipament sportiv</h1>
        <header>
                 
            <label> <span class="bi bi-sun-fill"></span></label>  
            <div class="form-check form-switch form-check-inline">
                
                <input id="schimba-tema" class="btn btn-primary btn-toggle form-check-input form-switch" type="checkbox">
                <label><span class="fas fa-moon"></span></label>
            </div>
            
            <div class="theme-selector">
                <label for="theme-select">Alege tema:</label>
                <select id="theme-select">
                    <option value="default">Fără temă</option>
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                </select>
            </div>
            
            
        </header>

    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/Hamburger_icon_alb.png"
                alt="menu">
        </label>

        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="acasa">Acasă</div>
                <div id="acasa-mediu">
                    <a href="/index">
                        <i class="fas fa-regular fa-house"></i>
                        <span>Welcome</span>
                    </a>
                </div>
            </li>
            <li><a href="/index#anunturi">Anunțuri</a></li>
            <li><a href="/index#orar">Orar</a></li>
            
            <li>
                <a href="#">Categorii</a>
                
                <ul class="sub-meniu">
                    <li>
                        <a href="/produse">Toate</a>
                    </li>

                    <li>
                        <a href="/produse?tip=barbati">Bărbați</a>
                    </li>
                    <li>
                        <a href="/produse?tip=femei">Femei</a>
                    </li>
                    <li>
                        <a href="/produse?tip=copii">Copii</a>
                    </li>

                </ul>
            </li>
            
            <li>
                <div><a href="/galerie">Galerie</a></div>
            
            </li>
            <li><div>Despre</div>
            
                <ul>

                </ul>
            
            </li>

            
            <li><a href="/index#promotii">Promoții</a></li>
            <li><a href="/index#utilizatori_online">Useri</a></li>
        
            <li><a href="/contact">Contact</a></li>

            <li><a href="/inregistrare ">Înregistrare</a></li>

            <li><a href="/cos-virtual">Coș</a></li>
            
            <%- include("submeniu-administrare.ejs")%>
            <%- include("submeniu-utilizator-logat.ejs")%>
        </ul>

    </nav>
</header>




<!-- <p4 for (let opt of locals.optiuni) { %> 
    <li>
        <a href="/produse?tip=<pr- opt.unnest %>"><pr- opt.unnest %></a>
    </li>

<pr }%>  -->