<% if(locals.utilizator) { %>
    <li><div><%- locals.utilizator.username %></div>
        <ul class="profil">
            <li><a href="/profil">Profil</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </li>
<% } %>